<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.studyjams.s1.sj61.luolaiyuan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="新生导航站">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigatieToSchool"
            android:label="入学导航"></activity>
        <activity
            android:name=".EatingAtSchool"
            android:label="吃在****大学"></activity>
        <activity
            android:name=".LeaveAtSchool"
            android:label="住在****大学"></activity>
        <activity
            android:name=".LearningAtSchool"
            android:label="在****大学学习"></activity>
        <activity
            android:name=".OfficialWebSite"
            android:label="****大学官网"></activity>
        <activity
            android:name=".AnswerQuestion"
            android:label="常见问题解答"></activity>
        <activity
            android:name=".AnswerQuestionDetails"
            android:label="常见问题解答"></activity>
    </application>

</manifest>